html {
  background-color: rgb(12, 10, 13);
}

body {
  background-color: rgb(12, 10, 13) !important;
}

#main-navbar{
  background-color: #5241a4 !important;
}
.vid-player {


  float: left;
  width: 75%;
  display: inline;

}

.btn-info{
  background-color: #5241a4 !important;
  border: #5241a4 !important;
  font-weight: 400 !important;
}

#target{
  margin-bottom: 5px;
}

.btn-info:hover{
  background-color: #8361c2 !important;
}

.t-chat{
  width: 25%;
  display: inline-block;
}

.wrapper{
  overflow:  hidden;

}

.jumbotron {
  background-color: #19171c !important;
  border: 1px #332f38 solid;
}

#enter-text {
  color: white;
  font-size: 1.5rem;

}

.input-group-text{
  height: 38px;
}

#basic-url{
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.channel-form{
  display: inline-block;
}

#channel-title{
  color: #c3c3c3;
}

#twitch-link{
  color: #5241a4 !important;
}
#twitch-link:hover{
  color: #8361c2 !important;
  text-decoration: none !important;
}

#luck-btn{
  background-color: black !important;
  text-decoration-color: rgb(0, 255, 25) !important;

}

#luck-btn:hover{
  background-color: rgb(0, 255, 25) !important;
  color: black !important;

}

#btn-switch{
  display: block;
  margin: auto;
}

#i-twitch{
  color: linear-gradient(to top right, Mediumslateblue, rgb(247, 70, 150));
}

.navbar-brand{
  font-family: 'Fredoka One', cursive;
  font-size: 2rem !important;
}

#logo-s{
  width: 25px;
  height: auto;
  padding-bottom: 10px;
}

/* .ml2{
  text-shadow: 2px 2px black;
} */

/*effect-box*/
a.effect-box{
  position: relative;
}

a.effect-box.border{
  line-height: 2px;
}

a.effect-box:after,
a.effect-box:before {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;

}

a.effect-box:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

a.effect-box:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-box:hover:after,
a.effect-box:hover:before {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

#land-tron{
  color: white !important;
}

#channel-list{
  color: white !important;
}

#channel-list a:hover{
  color: white !important;
  text-decoration: none !important;
}

#channel-list-container{
  background-color: #5241a4 !important;
  border: solid #5241a4 !important;
}

#channel-list-container:hover{
  background-color: #8361c2 !important;
  border: solid #8361c2 !important;
}

#channel-head{
  color: white;
}

hr.my-4{
  background-color: rgb(99, 99, 99) !important;
}
