{% extends "rooms/room_base.html" %}
{% load static %}
{% block vidblock %}


<div class="jumbotron container col-md-6 text-center">

  <div class="card bg-dark">
    <div class="card-body">Enter the username of the streamer you'd like to watch,
      then enter your Twitch username to host the chat.</div>
  </div>
  
  <form class="channel-form" method="POST">

    {% csrf_token %}
    {{ form.as_p }}

    <button id='target' type="submit" class="btn btn-info" name="button">For Demacia!</button>

  </form>

  <button id='btn-switch' type="button" class="btn btn-dark" onclick="newTitle()"><i class="fas fa-sync-alt"></i></button>

</div>
  <script type="text/javascript" src="{% static "channel-form.js" %}"></script>
{% endblock %}
